@use '../abstracts/mixins'as *;
@use '../abstracts/variables'as *;

/*
************
*************************
22. Counter
******************************************************* 
*************************************************************** */

.counter {
    &__item {
        position: relative;
        z-index: 10;

        & i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 22px;
            color: $white;
            border: 2px solid $white;
            border-radius: 50%;
        }

        & span {
            display: block;
            font-weight: 500px;
            color: $white;
            font-size: 30px;
            margin: 10px 0;
        }

        & h4 {
            font-weight: 600;
            font-size: 26px;
            color: $white;
            text-transform: capitalize;
            font-family: $raleway;
        }
    }
}